/* General Styling */

@font-face {
  font-family: SansationBold;
  src: url("../public/Assets/SansationFonts/Sansation_Bold.ttf");
}

@font-face {
  font-family: SansationLight;
  src: url("../public/Assets/SansationFonts/Sansation_Light.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("../public/Assets/MontserratFonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MontserratLight;
  src: url("../public/Assets/MontserratFonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: PlayPenSansMedium;
  src: url("../public/Assets/PlayPenSansFonts/PlaypenSans-Medium.ttf");
}

@font-face {
  font-family: PlayPenSansExtraLight;
  src: url("../public/Assets/PlayPenSansFonts/PlaypenSans-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  margin: 40px 100px;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Navigation Bar Styling */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: linear-gradient(to left, #006bf9, #00c1fa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  /* font-family: SansationBold; */
}

.navigations ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 40px;
}

.navigation a {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
}

.navigation a:hover {
  background: linear-gradient(to left, #006bf9, #00c1fa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  border-bottom: 1px solid #006bf9;
  padding-bottom: 2px;
}